settings:
  name: "settings"
  version: "1.0.0"
  description: "settings"
  profile: "D:/medismart/uploadPath"
server:
  port: 8081
spring:
  config:
    import: classpath:application-dev.yml
mybatis-plus:
  configuration:
    # 驼峰命名
    map-underscore-to-camel-case: on
    # 打印sql
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
      logic-delete-field: isDelete
      id-type: auto
  mapper-locations: classpath:mapper/**/*.xml
