:root {
    --font-1: "Inter", sans-serif;
    --section-gap: 25px;
    --border-radius-1: 8px;
}

:root {
    --colour-1: #c99;
    --colour-2: #ccc;
    /* --colour-3: #e4d4ff; */
    --colour-3: #636;
    --colour-4: #f0f0f0;
    --colour-5: #181818;
    --colour-6: #242424;

    --accent: #8b3dff;
    /* --blur-bg: #16101b66; */
    --blur-bg: #f6f6f6;
    --blur-border: #84719040;
    --user-input: #ac87bb;
    /* --conversations: #c7a2ff; */
    --conversations: #636;
}